<html>
    <head>
        <title>FieldPlan</title>
        <script src="//api.filepicker.io/v1/filepicker.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Upload Image with Filepicker</h1>
        <h2>widget<h2>
        <form action="/upload" method="post">
            <input type="filepicker" name="filepicker_url" data-fp-apikey="AGuRTEh8XQbW9ChRV1XaVz" data-fp-signature="e9746240964540cf87e02d7841a21ee44c0a89c8152f2c1a9dc1af80a0c229ce" data-fp-policy="eyJleHBpcnkiOiAxNDYwOTE3ODk4fQ==" data-fp-mimetypes="*/*" data-fp-container="modal" data-fp-store-location="s3" data-fp-store-path="my_test_folder/" data-fp-store-container "mione"/>
        <input type="submit">
        </form>
    </body>
</html>
