<html>
    <head>
        <title>FieldPlan</title>
    </head>
    <body>
        <h1>Hello World!<h1>
        <h1>Upload Image with Filepicker</h1>
        <script src="//api.filepicker.io/v1/filepicker.js" type="text/javascript"></script>
        <script>
                filepicker.setKey("AGuRTEh8XQbW9ChRV1XaVz");
                function pickMe(){
                filepicker.pick(
                        {
                          mimetypes: ['image/*', 'text/plain'],
                          container: 'window',
                          services:['COMPUTER', 'FACEBOOK', 'GMAIL', 'SKYDRIVE', 'IMAGE_SEARCH'],
                         },
                 function(Blob){
                          console.log(Blob.url);
                         },
                 function(FPError){
                          console.log(FPError.toString());
                          }  
                        );
                        }
        </script>
        <button onClick="pickMe()">Load an image</button>
        <form>
                <input type="text" name="url">
        </form>
    </body>
</html>
