<html>
    <head>
        <title>uploaded FilePicker images</title>
    </head>
    <body>
    	<h2>last uploaded file<h2>
        <img src="<%= @last_image+'/convert?w=400&fit=max&cache=true' %>"></img>
        <h2>uploaded file list<h2>
 		<h3>
        <% for x in 0..@last_in_array.to_i %>
	  		<li> <%= "#{@get_list[x][1]} #{@get_list[x][0]}" %> </li>
    	<% end %>
    	</h3>
    </body>
</html>