<html>
    <head>
        <title>uploaded FilePicker images</title>
    </head>
    <body>
    	<h2>uploaded file<h2>
        <img src="<%= @filepicker_url %>"></img>
        <h2>for uploaded file list click <a href="http://fieldplan.farm:8000/last">here</a><h2>
    </body>
</html>